body {
    font-family:'Times New Roman', Times, serif;
    background-color: #cfe6f66e;
    margin: 0;
    padding: 20px;
}
.h2-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    /*height: 100vh;*/           /* Chiều cao của màn hình */
}

.h2 {
    font-weight: bold;
    font-size: 50px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1cm; /* Khoảng cách giữa các ô và cách lề */
    justify-content: flex-start;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gallery-item {
    width: calc(33.333% - 0.5cm); /* Mỗi ô chiếm 1/3 màn hình, trừ đi khoảng cách */
    padding-top: calc(33.333% - 0.5cm); /* Đảm bảo ô vuông bằng cách sử dụng padding-top */
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; /* Con trỏ trở thành tay khi di chuột vào ảnh */
}

.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh phủ đầy ô vuông */
    border-radius: 10px;
}

.gallery-item p {
    margin: 10px 0 0;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Hiệu ứng nền mờ cho tên ảnh */
}

/* CSS cho chế độ toàn màn hình */
.fullscreen-img {
    display: none; /* Ẩn ảnh toàn màn hình theo mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Nền tối với độ mờ */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Đảm bảo nó nằm trên các thành phần khác */
}

.fullscreen-img img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/*Phân trang*/
.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block; /* Hiển thị các liên kết thành hàng */
    margin: 0 5px; /* Khoảng cách giữa các liên kết */
    padding: 10px 15px; /* Khoảng cách bên trong các liên kết */
    text-decoration: none; /* Bỏ gạch chân liên kết */
    background-color: #f1f1f1; /* Màu nền cho các liên kết */
    color: #333; /* Màu chữ cho các liên kết */
    border-radius: 5px; /* Bo tròn các góc của các liên kết */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền khi hover */
}

.pagination a.active {
    background-color: #0191f7a2;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}