body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    transition: opacity 0.3s ease;
}

.header {
    background-color: white;
    padding: 0;
    position: relative; /* Để đảm bảo sticky header hiển thị trên header chính */
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 5px 5px 5px 5px;
}

.ảnh {
    width: 80px;
    height: 80px; 
    margin-right: 20px;
}

.title {
    white-space: nowrap; 
}

.line1, .line2 {
    display: block;
    color: #025ba1; 
    font-size: 20px; 
    font-weight: bold;
    margin-top: -10px;
}

.line2 {
    font-size: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px 5px 5px 5px;
}


.hotline {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold;
}

.dangxuat {
    font-size: 18px;
    color: #025ba1;
    font-weight: bold; 
}

.hotline img {
    width: 33px; 
    height: auto; 
    vertical-align: middle;
}
.dangxuat img {
    width: 33px; 
    height: auto; 
    vertical-align: middle; 
}
.avatar img {
    width: 38px; 
    height: auto; 
    vertical-align: middle; 
}

.navbar .dangxuat {
    margin-left: 20px; 
    margin-right: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 5px 0px 0px ;
    transition: padding-top 0.5s ease;
}
.container.search-active {
    padding-top: 60px; /* Điều chỉnh giá trị này dựa trên chiều cao của vùng chứa thanh tìm kiếm của bạn */
}

.tieude {
    display: flex;
    width: 100%;
    background-color:#025ba1;
    flex: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.tieude a {
    color: white;
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tieude a:hover {
    background-color:#fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tieude #selected {
    background-color:#fff;
    color: #025ba1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #025ba1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 150px;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sub-dropdown-content a:hover {
    background-color: #fff;
    color: #025ba1;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.header{
    margin-bottom: 0;
    padding-bottom: 0;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

/*Tài khoản*/
.popup {
    display: none;
    position: absolute;
    top: 50px; /* Điều chỉnh theo vị trí ảnh đại diện */
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    z-index: 1000;
    width: 250px;
}

.popup-content h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.popup-content p {
    margin: 5px 0;
    font-size: 14px;
}

.popup-content button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #0056b3;
}

